---
layout: page
title: "About"
description: "Hey, this is yuhao."
header-img: "img/about-bg.jpg"
---

<div class="zh post-container">
    <blockquote>
        我们阿森纳是不可战胜的
    </blockquote>
    <blockquote>
        人没有牺牲就什麽都得不到，为了得到什麽东西，就需要付出同等的代价！
    </blockquote> 

    <br>&nbsp;&nbsp;&nbsp;&nbsp;有一个传说，说的是有那么一只鸟儿，它一生只唱一次，那歌声比世上所有一切生灵的歌声都更加优美动听。从离开巢窝的那一刻起，它就在寻找着荆棘树，直到如愿以偿，才歇息下来。然后，它把自己的身体扎进最长，最尖的荆棘上，便在那荒蛮的枝条之间放开了歌喉。在奄奄一息的时刻，它超脱了自身的痛苦，而那歌声竟然使云雀和夜莺都黯然失色。这是一曲无比美好的歌，曲终而命竭。然而，整个世界都在静静地谛听着，上帝也在苍穹中微笑。因为最美好的东西只能用最深痛的巨创来换取……这就是荆棘鸟的传说。<br>
    &nbsp;&nbsp;&nbsp;&nbsp;鸟儿胸前带着荆棘，他遵循着一个不可改变的法则。她被不知其名的东西刺穿身体，被驱赶着，歌唱着死去。在那荆棘刺进的一瞬，她没有意识到死之将临。她只是唱着、唱着，直到生命耗尽，再也唱不出一个音符。但是，当我们把荆棘刺进胸膛时，我们是知道的。我们是明明白白的。然而，我们却依然要这么做。我们依然把荆棘刺进胸膛。<br>

    <p style="text-align:right;">
        —— <a href="http://t.icesmall.cn/bookDir/2/283/0.html">荆棘鸟 </a>
    </p>

</div>
<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
